<ion-tabs color="primary">
  <ion-tab label="Inicio" icon="ios-home" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>

  <!-- Graficas Tab -->
  <ion-tab label="Gráficas" icon="ios-trending-up" href="/tabs/(graficas:graficas)">
    <ion-router-outlet name="graficas"></ion-router-outlet>
  </ion-tab>

  <ion-tab label="About" icon="information-circle" href="/tabs/(about:about)">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Contact" icon="contacts" href="/tabs/(contact:contact)">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
